
<style>
      footer a:hover {
            color: #0d6efd;
            /* Bootstrap primary color */
            transition: color 0.3s;
      }
</style>

<footer class="bg-dark text-white py-4 mt-5">
      <div class="container">
            <div class="row text-center text-md-start align-items-center">
                  <!-- Social Icons -->
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <div class="d-flex justify-content-center justify-content-md-start gap-3 fs-4">
                              <a href=https://github.com/simhaa112 class="text-white"><i class="fa-brands fa-square-facebook"></i></a>
                              <a href=https://github.com/simhaa112 class="text-white"><i class="fa-brands fa-square-instagram"></i></a>
                              <a href=https://www.linkedin.com/in/lakshmi-narasimha-reddy-kurla-55563a266 class="text-white"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                  </div>

                  <!-- Brand Name -->
                  <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
                        <a href=https://github.com/simhaa112
                        target="_blank" 
                        class="text-decoration-none d-inline-flex align-items-center gap-2 text-white fw-semibold"
                        >
                              &copy;Narasimha
                        </a>
                  </div>

                  <!-- Links -->
                  <div class="col-12 col-md-4 text-center text-md-end">
                        <a href="#" class="text-white text-decoration-none me-3">Privacy</a>
                        <a href="#" class="text-white text-decoration-none">Terms</a>
                  </div>
            </div>
      </div>
</footer>
