<% layout("/layouts/boilerPlates.ejs") %>

      <body>
            <div class="row mt-5">
                  <h2 class="col-12 text-center mb-4">
                        <span style="color: #fe424d;">Signup</span> on Nest Finder
                  </h2>
                  <div class="col-md-6 offset-md-3 col-12">
                        <form action="/signup" method="post" novalidate class="needs-validation">
                              <!-- Username Field -->
                              <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input name="username" type="text" placeholder="Username" id="username"
                                          class="form-control" required>
                                    <div class="valid-feedback">Looks Good!</div>
                                    <div class="invalid-feedback">Please provide a username.</div>
                              </div>

                              <!-- Email Field -->
                              <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input name="email" type="email" placeholder="Email" id="email" class="form-control"
                                          required>
                                    <div class="valid-feedback">Looks Good!</div>
                                    <div class="invalid-feedback">Please provide an email.</div>
                              </div>

                              <!-- Password Field -->
                              <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input name="password" type="password" placeholder="Password" id="password"
                                          class="form-control" required>
                                    <div class="valid-feedback">Looks Good!</div>
                                    <div class="invalid-feedback">Please provide a password.</div>
                              </div>

                              <!-- Submit Button -->
                              <button class="btn btn-danger w-100" type="submit">SIGNUP</button>
                        </form>
                  </div>
            </div>

      </body>